.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}

.header_h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: color ease-in 0.2s;
}

.header_h1:hover {
  color: #941dff;
}
.header_list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.header_list li a,
.header_list li {
  color: #000;
  transition: color ease-in 0.1s;
}

.header_list li a:hover,
.header_list li:hover {
  color: #941dff;
}
